th 
{
    color: white;
    background-color: #9c9c9c;
}

table 
{
    border-spacing: 0;
    overflow: hidden;
}

.first
{
    background-color: #b5b5b5;
}

td 
{
    padding: 10px;
    font-size: 15px;
    position: relative;
}

tr:nth-child(even) td::after
{
    content: '';
    background: #9c9c9c ;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

tbody td:hover::after
{
    content: '';
    position: absolute;
    text-align: center;
    background: #ff4500 ;
    height: 10000px;
    top: -5000px;
    width: 100%;
    left: 0;
    z-index: -1;
}

tbody tr:hover
{
    background: #ff4500 ;
}

button
{
    display: none;
}

input[name="email"]:valid ~ input[name="phone"]:valid ~ button
{
    display: block;
}

input:valid
{
    background-color: #3ef20c;
}

input:invalid
{
    background-color: #ffdead;
}
